<h2>Please enter details of a new merchant below.</h2>
<br><br><br>

<form action="/merchants" method="post" align="center">
  <label for="name">Name:
  <input id="amount_newtr" type="text" name="name" value="">
  </label>
<br><br>
  <label>
  Select status:
    <select name="active" id="mainselection" class="custom-select">>
      <option value="true">active</option>
      <option value="false">deactivated</option>
    </select>
  </label>
<br><br>
  <label for="logo">Logo URL:
  <input id="amount_newtr" type="text" name="logo" value="">
  </label>

<br><br><br>


  <input id="new_button" type='submit' value="[+] ADD NEW MERCHANT " style="height:30px; width:400px">
</form>
