<h2>Welcome to your Spending Tracker.</h2>
<p align="center">We help you to manage your finances effectively. Set your own monthly budget, record all your spending and follow your analytics.</p>

<center><img src="/images/welcome4.png" width="700" height="400" alt="Welcome page photo">
