
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending tracker</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
    <link rel="stylesheet" href="../../../../styles/styles.css">
    <link rel="stylesheet" href="../../../../../styles/styles.css">

    <h1> ❍ Spending Tracker App for you!</h1>
  </head>
<nav class="active">
  <ul>
    <li><a href="/">HOME</a></li>
    <li style="float:right"><a href="/users">MY PROFILE </a></li>
    <li><a href="/transactions">TRANSACTIONS</a></li>
    <li><a class="active" href="/transactions/new">+ ADD NEW TRANSACTION</a></li>
    <li><a href="/merchants">MERCHANTS</a></li>
    <li><a href="/tags">CATEGORIES</a></li>
    <li><a href="/transactions/analytics">ANALYTICS</a></li>
  </ul>
</nav>

  <body>



    <%=yield %>



    </body>
<footer>
<p>www.spendingtracker.co.uk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; February 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jan Jindra </p>

</footer>


</html>
