
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending tracker</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
    <link rel="stylesheet" href="../../../../styles/styles.css">
    <h1>Spending Tracker App for you!</h1>
  </head>
<nav>
  <ul>
    <li><a href="/users">MY PROFILE</a></li>
    <li><a href="/transactions">See All Transactions</a></li>
    <li><a href="/transactions/new">Add New Transaction</a></li>
    <li><a href="/merchants">See All Merchants</a></li>
    <li><a href="/merchants/new">Add New Merchant</a></li>
    <li><a href="/tags">See All Tags</a></li>
    <li><a href="/tags/new">Add New Tag</a></li>
    <li><a href="/transactions/analytics">ANALYTICS [>>new<<]</a></li>
  </ul>
</nav>

  <body>



    <%=yield %>



    </body>
</html>
