<h2>Please use the form below to add a new category.</h2>
<br><br>

<form action="/tags" method="post" align="center">
  <label for="label">Label:
  <input id="amount_newtr" type="text" name="label" value="">
  </label>
<br><br>
  <label>
  Select status:
    <select name="active" id="mainselection" class="custom-select">
      <option value="true">active</option>
      <option value="false">deactivated</option>
    </select>
  </label>
<br><br>
  <label for="logo">Logo URL:
  <input id="amount_newtr" type="text" name="logo" value="">
  </label>
<br><br><br>

  <input id="new_button" type='submit' value="[+] ADD NEW CATEGORY " style="height:30px; width:400px">
</form>
