<h2>You can update your details here</h2>


<form action="/users/<%= @user.id %>" method="post" align="center">

  <label for="name">Your Name:

  <input id="amount_newtr" type="text" name="name" value="<%= @user.name %>" align="center">

  </label><br><br>

  <label for="budget">Set your budget:

  <input id="amount_newtr" type="number" name="budget" value="<%= @user.budget %>" align="center">

</label>
<br><br><br><br>
  <input id="new_button" type='submit' value="Update Your Details">
</form>
