<h2>Here you can record a new transaction:</h2>

<p>Please use the form below to enter a new transaction to your Spend Tracker:</p>

<form action="/transactions" method="post">
  <label>
  Select a zombie:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a victim:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.label %></option>
      <% end %>
    </select>
  </label>

  <label for="amount">Amount:
  <input type="number" name="amount" value="">
  </label>

  <input class="new_tr_added" type='submit' value="Submit new">
</form>
