<h2>Here you can record a new transaction:</h2>

<p>Please use the form below to enter a new transaction to your Spend Tracker:</p>
<br><br>
<form action="/transactions" method="post"  align="center">
  <label>
  Select a merchant:
    <select id="mainselection" class="custom-select" name="merchant_id">
      <% for merchant in @merchants %>
      <% if merchant.active == 't' %>
      <option class="dropdown" value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>


<br><br>
  <label>
    Select a label:
    <select id="mainselection" class="custom-select" name="tag_id">
      <% for tag in @tags %>
      <% if tag.active == 't' %>
      <option value="<%= tag.id %>"><%= tag.label %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br><br>

  <label for="amount">Amount:
  <input id="amount_newtr" type="number" name="amount" value="">
  </label>
<br><br><br><br>
  <input id="new_button" type='submit' value="[+ SUBMIT NEW TRANSACTION]" style="height:30px; width:400px">
</form>
<br><br><br><br><br>
